<html>
    <head>
        <title>WebRTC</title>
    </head>
    <body>
        <p>Home</p>
        <video id="localStream" width="300px" controls></video>
    </body>
    <script src="./bundle.js"></script>
</html>